.list {
    list-style:none;
}
ul {
    list-style:none;
}
.list{
text-decoration: none;
}
h1,
h2,
h3,
h4,
h5, 
h6
p {
 margin-top: 0; 
 margin-bottom: 0;  
}
ol,
ul {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
}
a {
text-decoration: none;
}
body {
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif;
} 
:root { 
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --main-title-color:#FFFFFF;
    --accent-color: #2196F3;
}
.container {
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;

} 
img {
display: block;
max-width: 100%;
} 
/*======== Header========*/
.header {
padding-top:24px; 
padding-bottom:25px;
border-bottom: 1px solid#ECECEC;
}
.header-container {
display: flex;
align-items: center;
margin-left: 0 auto;
}
.navigation {
display: flex;
padding-left: ;
}
.menu {
display: flex;
align-items: center;
}
.menu-item:not(:last-child){
margin-right:50px;
}
.logo {
font-family:'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--main-title-color);
margin-right: 93px;
}
.logo-part-one {
font-family:'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0;
color:var(--accent-color);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-part-two {
font-family:'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#212121; 
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color:var(--main-text-color);
}
.menu-link:hover {
color:#2196F3;
}  
.tel-mail-link{
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: var( --secondary-text-color);
margin-right:50px;
} 
.tel-mail-link:hover {
    color:#2196F3;
} 
.header-tel-mail-link {
display:flex;
align-items: center;
margin-left: auto;
padding-right: 50px;
} 
/*======== Hero========*/
.main-section {
background: #2F303A;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
} 


.modal-btn {
background-color:var(--accent-color);
text-decoration: none;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
color:var(--main-title-color);
align-items: center;
text-align: center;
cursor: pointer;
letter-spacing: 6%;
border:none;
width: 200px;
border-radius: 4px;
padding: 10px 32px;
margin-left: 500px;
margin-right: 500px;
margin-top:30px ;
} 
.modal-btn:hover,
.modal-btn:focus {
background-color:#188CE8;
}
.main-title {
font-family:'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var( --main-title-color);
} 




/*======== Особенности=======*/
.features-section {
background: #FFFFFF;

}    
.features-title  {
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
}
.features-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.features{
    display:flex;
    padding:94px 15px 47px; ;
    }  
.features-items {
width: 270px;
}
.features-content {
 margin-right: 30px;   
}
.features-content:last-child {
    margin-right: 0;
  }

/*======== Чем мы занимаемся=======*/
.services-section {
background-color:  #FFFFFF;
padding-bottom: 94px;
padding-bottom: 94px;
}
.secondary-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.services {
display: flex;
justify-content: space-between;
padding-left: 15px;
padding-right: 15px;
}

/*======== Наша команда=======*/ 
.team-section {
background-color: #F5F4FA;
padding-bottom:94px;
padding-top:94px;
} 
.team-member {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color:var(--main-text-color);
margin-top: 30px;

}
.team-member-profession {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-bottom:30px;

}
.team {
display:flex;
justify-content:space-between;
padding-left: 15px;
padding-right: 15px;
}
.team-item{
background-color: #FFFFFF;
border-radius: 4px;
box-shadow:rgba(0, 0, 0, 0.2);
width: 270px;

}

/*======== Footer======== */
.logo-footer {
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-text-color);
margin-left:15px;
}
.logo-footer-part-one {
color:var(--accent-color);
}   
.logo-footer-part-two {
color:var(--main-title-color);
}   
.adress {
font-family:'Roboto', sans-serif;
font-style: normal;
font-size: 14px;
line-height: 24px;
line-height: 146%;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
.footer-mail-tel-link {
font-family:'Roboto', sans-serif;
font-style: normal;
font-size: 14px;
letter-spacing: 0.03em; 
color: rgba(255, 255, 255, 0.6);
margin-top:9px;
}
.footer {
background-color: #2F303A;
padding-bottom: 60px;
padding-top: 60px;
}
.footer-adress {
display: flex;
flex-direction: column;
margin-left:  15px; 
margin-top: 20px;
margin-bottom: 60px;
}
/*======== Portfolio.html======== */

.projects-btn {
font-family: 'Roboto', sans-serif;
background-color: #F5F4FA;
font-weight:500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color:var(--main-text-color);
cursor: pointer;
border:none;
padding: 6px 22px;
margin-right: 8px;
}
.projects-btn:hover,
.projects-btn:focus {
background-color:#188CE8;
}
.projects {
    display:flex;
    justify-items: center;   
    margin-left: 295px;
    margin-bottom: 50px;
    }
.card-set  {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100%/3);
    margin-left: -30px;
    margin-top: -30px;
}
.card-set >.project-item {
flex-basis: calc(100%/3-30px); 
margin-left: 30px;
margin-top: 30px;
}
.project-name {
    font-family:'Roboto', sans-serif;
    font-style: Bold;
    font-size: 18px;
    line-height: 2;
    line -height: 171%;
    letter - spacing: 6%;
    color:var(--main-text-color;)
    margin-bottom:4px;
}

.project-description{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.87;
vertical-align:top;
letter-spacing: 3%;
margin-top: 4px;
color:var(--secondary-text-color);
}
.project-content{
    padding: 20px 24px;
    border-radius: 4px;
    box-shadow:rgba(0, 0, 0, 0.2);
}
.projects-section{
    padding-bottom:94px ;
    padding-top: 94px;
}
.features {

}