ul {
    list-style:none;
}
a {
text-decoration: none;
}
body {
    background-color: #FFFFFF;
    font-family:'Roboto', sans-serif;
} 
:root { 
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --main-title-color: #FFFFFF;
    --accent-color: #2196F3;
}
/*======== Header========*/
.header {

}


.logo {
font-family:'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var (--main-title-color);
}
.logo-part-one {
font-family:'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0;
color:var(--accent-color);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-part-two {
font-family:'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#212121; 
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color:var(--main-text-color);
}
.menu-link:hover {
color:#2196F3;
}  
.tel-mail-link{
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: #757575;
} 
.tel-mail-link:hover {
    color:#2196F3;
} 
/*======== Hero========*/
.main-section {
background: #2F303A;
} 
.modal-btn {
background-color:#2196F3;
text-decoration: none;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color:var(-main-title-color);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
box-sizing: border-box;
} 
.modal-btn:hover,
.modal-btn:focus {
    background-color:#188CE8;
    
 }
.main-title {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:  #FFFFFF;;
} 
/*======== Особенности=======*/
.features-section {
background: #E5E5E5;
}    
.features-titele  {
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
}
.features-text {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
/*======== Чем мы занимаемся=======*/
.services-section {
    background-color:  #E5E5E5;
}
.secondary-title {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}
/*======== Наша команда=======*/ 
.team-section {
background-color: #F5F4FA;
} 
.team-member {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color:var(--main-text-color);
}
.team-member-profession {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

/*======== Footer======== */
.logo-footer {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.logo-footer-part-one {
color:var(--accent-color);
}   
.logo-footer-part-two {
color:var(--main-title-color);
}   
.adress {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
.footer-mail-tel-link {
font-weight: normal;
font-size: 14px;
line-height: 1.71; 
letter-spacing: 0.03em; 
color: rgba(255, 255, 255, 0.6);
}
.footer {
background-color: #2F303A;
}

/*======== Portfolio.html======== */
.project-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);  
}
.project-description {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
}
.progects-btn {
background-color: #F5F4FA;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color:var( --main-text-color);
}
.progects-btn:hover,
.progects-btn:focus {
    background-color:#188CE8;
 }